<ion-header>
  <ion-toolbar>
    <ion-title>
      Controlador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 


<ion-card class="welcome-card" >
  <ion-card-content>

          <div >
            <ion-button >  La Humedad es del {{humedad}}% </ion-button>
          </div>
      
  </ion-card-content>
</ion-card>
<ion-card class="welcome-card" >
  <ion-card-content>

          <div >
            <ion-button > La Temperatura es {{temperatura}} grados </ion-button>
          </div>
      
  </ion-card-content>
</ion-card>
 <ion-card class="welcome-card" >
  <ion-card-content>

          <div *ngIf="estado === 0">
            <ion-button (click)="luces()" color = "success">Apagar la lampara</ion-button>
          </div>
          <div *ngIf="estado === 1">
            <ion-button (click)="luces()" color = "danger" >Encender la lampara</ion-button>
          </div>
      
  </ion-card-content>
</ion-card>

</ion-content>
